<section id="services">
    
    <div class="container portfolio-flex-grid containeradd">
        <div class="row" id="portgap">
            <div class="col-lg-12 text-center">
                <h2>Services
                </h2>
                <hr class="wrench-primary">
                 {% for post in site.tags.service %}
                    {{ post.content }}
                    {% endfor %}
            </div>
        </div>
        
        <div class="portfolio-flex-row">
            {% for post in site.categories.fs %}
                <div class="portfolio-flex-item portfolio-item">
                    <a href="#portfolioModal-{{ post.modal-id }}" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <ul>
                            <li><h5>{{ post.title }}</h5></li>
                        </ul>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
</section>

<section class="success" id="about">
    <div class="container containeradd">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>About</h2>
                <hr class="star-light">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 text-center">
                {% for post in site.tags.about %}
                <p>{{ post.content }}</p>
                {% endfor %}
            
        </div>
    </div>
</section>

